**
!Dockerfile
!pyproject.toml
!uv.lock
!main.py
!agent/
!agent/*.py
!agent/*.cjs
!agent/skills/
!agent/skills/find-skills/
!agent/skills/find-skills/SKILL.md
!agent/skills/find-skills/LICENSE
!agent/skills/find-skills-source.json
!agent/skills/design-sources.json
!agent/skills/ui-ux-pro-max/
!agent/skills/ui-ux-pro-max/**
!agent/skills/impeccable/
!agent/skills/impeccable/**
!agent/skills/emil-design-eng/
!agent/skills/emil-design-eng/**
!agent/skills/react-best-practices/
!agent/skills/react-best-practices/**
!agent/skills/frontend-design/
!agent/skills/frontend-design/SKILL.md
!agent/skills/frontend-design/LICENSE.txt
!agent/skills/TASTE-LICENSE
!agent/skills/taste-source.json
!agent/skills/brandkit/
!agent/skills/brandkit/SKILL.md
!agent/skills/brutalist-skill/
!agent/skills/brutalist-skill/SKILL.md
!agent/skills/gpt-tasteskill/
!agent/skills/gpt-tasteskill/SKILL.md
!agent/skills/image-to-code-skill/
!agent/skills/image-to-code-skill/SKILL.md
!agent/skills/imagegen-frontend-mobile/
!agent/skills/imagegen-frontend-mobile/SKILL.md
!agent/skills/imagegen-frontend-web/
!agent/skills/imagegen-frontend-web/SKILL.md
!agent/skills/minimalist-skill/
!agent/skills/minimalist-skill/SKILL.md
!agent/skills/output-skill/
!agent/skills/output-skill/SKILL.md
!agent/skills/redesign-skill/
!agent/skills/redesign-skill/SKILL.md
!agent/skills/soft-skill/
!agent/skills/soft-skill/SKILL.md
!agent/skills/stitch-skill/
!agent/skills/stitch-skill/SKILL.md
!agent/skills/stitch-skill/DESIGN.md
!agent/skills/taste-skill-v1/
!agent/skills/taste-skill-v1/SKILL.md
!agent/skills/taste-skill/
!agent/skills/taste-skill/SKILL.md
!auth/
!auth/*.py
!db/
!db/*.py
